.nowaKsiazka {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 100px;
    margin-top: 15px;

    position: fixed;
    width: 250px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #927976;
  color: white;
  border-radius: 17px;
}

.nowaKsiazka button, .nowaKsiazka h3 {
    align-self: center;
}


.nowaKsiazka p {
  height: 20px;
}