body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DFE0E0;
}

button 


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #DFE0E0;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 3px 1px;
  text-align: center;
  border: 0;
}